nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100%;
    padding-top: 5em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    transform: translateX(2em);
    transition: 0.2s transform;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  }
nav:hover,
nav:focus-within {
    transform: translateX(100%);
  }
   
  a {
    white-space: pre;
    color: rgb(255, 255, 255);
    padding: 1em;
    text-decoration: none;
    font-size: 16px;
  }
  a .icons{
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  a:hover{
    border-radius: 5px;
    border-style: solid; border-color: green; 
  }
 
  p {
    font-size: 2em;
    text-align: center;
  }